<div class="form-group">
  <%= f.label :post_image, "料理画像", style: "margin-right:60px;" %>
  <%= f.file_field :post_image, accept: "image/*" %>
</div>
<div class="form-group">
  <%= f.label :name, "料理名", style: "margin-right:75px;" %>
  <%= f.text_field :name, placeholder:"料理名", size: "31x1" %>
</div>
<div class="form-group">
  <%= f.label :material, "材料", style:"margin-right:60px;" %>
  <%= f.text_area :material, placeholder:"ここに材料を記述します", size: "30x5" %>
</div>
<div class="form-group">
  <%= f.label :introduction, "作り方", style: "margin-right:60px;", class: "align-top" %>
  <%= f.text_area :introduction, placeholder:"ここにつくり文を記述します", size: "30x5" %>
</div>