<tr>
  <td>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_post_image(285,135) %>
    <% end %>
  </td>
  <td>
    <%= link_to post_path(post.id) do %>
      <%= post.name %></br>
    <% end %>
  </td>
  <td>
    <%= link_to post.user.name, user_path(post.user) %>
  </td>
  <td class="d-flex flex-wrap">
    <% post.tags.each do |tag| %>
      #<%= tag.name %>
    <% end %>
  </td>
  <td>
    いいね：<%= post.favorites_count %>件
  </td>
  <td>
    コメント件数：<%= post.comments.count %>件
  </td>
</tr>