<div class="container">
  <%= render 'flash/notice' %>
  <%= render 'alert' %>

  <div class="row my-5 under-line">
    <div class="col-6">
      <h2>レシピ名：<%= @post.name %></h2>
      <p>登録タグ <i class="fa-solid fa-tags"></i></p>
      <div class="d-flex flex-wrap">
        <% @post.tags.each do |tag| %>
          <%= link_to "##{tag.name}", posts_path(tag: tag.name), class: 'btn btn-outline-primary mx-2' %>
        <% end %>
      </div>
    </div>

    <div class="col-2">
      <% if user_signed_in? && @post.user != current_user %>
        <div class="d-flex justify-content-between mt-2">
          <div id="favorite_buttons">
            <%= render 'favorite', post: @post %>
          </div>
        </div>
      <% elsif admin_signed_in? %>
        <%= link_to "レシピ削除", post_path(@post.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class:"btn btn-danger" %>
      <% end %>
    </div>

    <div class="col-4">
      <% if @user == current_user %>
        <%= link_to "レシピ編集", edit_post_path(@post), class:"btn btn-success" %>
        ｜
        <%= link_to "レシピ削除", post_path(@post.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class:"btn btn-danger" %>
      <% else %>
        <h2>投稿者：<%= link_to @user.name, user_path(@user) %></h2>
      <% end %>

      <% if user_signed_in? && @post.user != current_user %>
        <h6><%= link_to raw('<i class="fa-solid fa-triangle-exclamation"></i>通報する'), new_post_report_path(@post) %></h6>
      <% end %>
    </div>
  </div>

  <div class="row my-5 under-line">
    <div class="col-4">
      <%= image_tag @post.get_post_image(350, 350), class: "img-fluid" %><br>
      <%= @post.introduction %>
    </div>

    <div class="col-4">
      <h3>材料</h3>
      <ul>
        <% @post.ingredients.each do |ingredient| %>
          <li><%= ingredient.name %> ・・・・・ <%= ingredient.quantity %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row mt-5">
    <ol>
      <h3>作り方</h3>
      <% @post.instructions.each do |instruction| %>
        <li>
          <%= instruction.step %><br>
          <% if instruction.process_image.present? %>
            <%= image_tag instruction.get_process_image(560, 270), class: "img-fluid mt-3 mb-3" %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>

  <div class="row mt-2">
    <% if user_signed_in? %>
      <%= form_with model: [@post, @comment] do |f| %>
        <%= "　" %>
        <%= f.text_field :comment, placeholder: "コメントをここに", class: "custom-width" %>
        <%= f.submit "送信する" %>
      <% end %>
    <% else %>
      <p>ログイン、会員登録をおこうなうとコメントができるようになります</p>
    <% end %>
  </div>

  <div class="row">
    <div class="col-6">
      <% @post.comments.order(created_at: :desc).each_with_index do |comment, index| %>
        <div class="comment-box">
          <%= "コメント: #{(@post.comments.count - index)}" %>
          <p style="color: <%= comment.score > 0 ? 'green' : (comment.score < 0 ? 'red' : 'black') %>;">評価：<%= comment.score %></p>
          <%= comment.comment %>
          <div class="date-box">
            <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
            <% if user_signed_in? && comment.user != current_user %>
              <h6><%= link_to raw('<i class="fa-solid fa-triangle-exclamation"></i>通報する'), new_post_report_path(@post) %></h6>
            <% end %>
            <% if admin_signed_in? %>
              <%= link_to "コメント削除", post_comment_path(@post, comment), method: :delete %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>