<div class="container">
  <div class="row mt-5">
    <div class="col-5">
      <%= image_tag @post.get_post_image(400, 550) %><br>
      <%= @post.introduction %>
    </div>

    <div class="col-5">
      <div class="d-flex justify-content-between mt-3">
        <div>
          <h2><%= @post.name %></h2>
        </div>
        <div>
          <% if @user == current_user %>
            <%= link_to "レシピ編集", edit_post_path(@post) %>
            <%= link_to "レシピ削除", post_path(@post.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
          <% end %>
          <% if user_signed_in? && @post.user != current_user %>
            <%= link_to raw('<i class="fa-solid fa-triangle-exclamation"></i>通報'), new_user_report_path(@post.user) %>
          <% end %>
        </div>
      </div>

      <% if user_signed_in? %>
        <div class="d-flex justify-content-between mt-2">
          <div>
            <p>
              <% if @post.favorited_by?(current_user) %>
                <%= link_to post_favorite_path(@post), method: :delete do %>♥ いいね<% end %>
              <% else %>
                <%= link_to post_favorite_path(@post), method: :post do %>♡ いいね<% end %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>

      <h3>材料</h3>
      <ul>
        <% @post.recipe_ingredients.each do |ingredient| %>
          <li><%= ingredient.ing_name %> ・・・・・ <%= ingredient.quantity %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row mt-2">
    <ol>
      <h3>作り方</h3>
      <% @post.how_to_makes.each do |make| %>
        <li>
          <%= make.explanation %><br>
          <% if make.process_image.attached? %>
            <%= image_tag make.get_process_image(560, 270) %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>

  <% if user_signed_in? %>
    <div class="row mt-2">
      <%= form_with model: [@post, @comment] do |f| %>
        <%= f.text_area :comment, placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
    </div>
  <% else %>
    <div class="row mt-2">
      <p>ログインするとコメントができるようになります</p>
    </div>
  <% end %>

  <div class="row">
  <div class="col-6">
    <p>コメント件数：<%= @post.comments.count %></p>
    <!-- コメントを新しい順番に並び替えとコメントに番号を振る -->
    <% @post.comments.order(created_at: :desc).each_with_index do |comment, index| %>
      <div class="comment-box">
        <!-- コメントの数ーindexを引いてコメントに番号を表示させる -->
        <%= "コメント: #{(@post.comments.count - index)}" %><br>
        <%= comment.comment %>
        <div class="date-box">
          <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
           <% if user_signed_in? && comment.user != current_user %>
            <%= link_to raw('<i class="fa-solid fa-triangle-exclamation"></i>通報'), new_user_report_path(comment.user) %>
          <% end %>
          <% if admin_signed_in? %>
           <%= link_to "コメント削除", post_comment_path(@post, comment), method: :delete %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
