<div class="container">
  <%= render 'flash/notice' %>
  <%= render 'alert' %>
  <div class="row my-5 under-line">
    <div class="col-6">
      <h2>レシピ名：<%= @post.name %></h2>
      <p>登録タグ <i class="fa-solid fa-tags"></i></p>
      <div class="d-flex flex-wrap">
        <% @tags.each do |tag| %>
          <%= link_to "##{tag}", posts_path(tag: tag), class: 'mb-2 mr-2' %>
        <% end %>
      </div>
    </div>
    <div class="col-2">
      <% if user_signed_in? && @post.user != current_user %>
        <div class="d-flex justify-content-between mt-2">
          <p>
            <% if @post.favorited_by?(current_user) %>
              <h4><%= link_to post_favorite_path(@post), method: :delete do %>♥ いいね<% end %></h4>
            <% else %>
              <h4><%= link_to post_favorite_path(@post), method: :post do %>♡ いいね<% end %></h4>
            <% end %>
          </p>
        </div>
      <% end %>
    </div>
    <div class="col-4">
      <% if @user == current_user %>
        <%= link_to "レシピ編集", edit_post_path(@post) %>
        <%= link_to "レシピ削除", post_path(@post.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
      <% else %>
        <h2>投稿者：<%= link_to @user.name, user_path(@user) %></h2>
      <% end %>
      <% if user_signed_in? && @post.user != current_user %>
        <h6><%= link_to raw('<i class="fa-solid fa-triangle-exclamation"></i>通報する'), new_user_report_path(@post.user) %></h6>
      <% end %>
    </div>
  </div>

  <div class="row my-5 under-line">
    <div class="col-4">
      <%= image_tag @post.get_post_image(350, 350), class: "img-fluid" %><br>
      <%= @post.introduction %>
    </div>

    <div class="col-4">
      <h3>材料</h3>
      <ul>
        <% @post.ingredients.each do |ingredient| %>
          <li><%= ingredient.name %> ・・・・・ <%= ingredient.quantity %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row mt-5">
    <ol>
      <h3>作り方</h3>
      <% @post.instructions.each do |instruction| %>
        <li>
          <%= instruction.step %><br>
          <% if instruction.process_image.present? %>
            <%= image_tag instruction.get_process_image(560, 270), class: "img-fluid mt-3 mb-3" %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>

  <div class="row mt-2">
    <% if user_signed_in? %>
      <%= form_with model: [@post, @comment] do |f| %>
        <%= f.text_field :comment, placeholder: "コメントをここに", class: "custom-width" %>
        <%= f.submit "送信する" %>
      <% end %>
    <% else %>
      <p>ログインするとコメントができるようになります</p>
    <% end %>
  </div>

  <div class="row">
    <div class="col-6">
      <p>コメント件数：<%= @post.comments.count %></p>
      <% @post.comments.order(created_at: :desc).each_with_index do |comment, index| %>
        <div class="comment-box">
          <%= "コメント: #{(@post.comments.count - index)}" %><br>
          <%= comment.comment %>
          <div class="date-box">
            <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
            <% if user_signed_in? && comment.user != current_user %>
              <%= link_to raw('<i class="fa-solid fa-triangle-exclamation"></i>通報'), new_user_report_path(comment.user) %>
            <% end %>
            <% if admin_signed_in? %>
              <%= link_to "コメント削除", post_comment_path(@post, comment), method: :delete %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

