<div class="container">
  <div class="row">
    <div class="col-12 col-sm- mt-5">
      <h2>検索結果</h2>
      <% if @results.present? %>
        <table class="table table-hover table-inverse">
          <thead class="bg-light">
            <tr>
              <% case @range %>
                <% when "ユーザー" %>
                  <th style="width: 20%;">プロフィール画像</th>
                  <th style="width: 20%;">ユーザー名</th>
                  <th style="width: 60%;" class="d-none d-sm-table-cell">自己紹介</th>
                <% when "レシピ" %>
                  <th style="width: 20%;">レシピ画像</th>
                  <th style="width: 30%;">レシピ名</th>
                  <th style="width: 50%;" class="d-none d-sm-table-cell">説明</th>
                <% when "タグ" %>
                  <th style="width: 20%;">レシピ画像</th>
                  <th style="width: 30%;">レシピ名</th>
                  <th style="width: 50%;" class="d-none d-sm-table-cell">登録タグ</th>
              <% end %>
            </tr>
          </thead>
          <tbody class="tbody">
            <% @results.each do |result| %>
              <tr>
                <% case @range %>
                  <% when "ユーザー" %>
                    <td>
                      <%= image_tag result.get_profile_image(100, 100), class: 'rounded-circle' %>
                    </td>
                    <td>
                      <%= link_to user_path(result.id) do %>
                        <%= result.name %>
                      <% end %>
                    </td>
                    <td class="d-none d-sm-table-cell"><%= result.introduction %></td>
                  <% when "レシピ" %>
                    <td>
                      <%= link_to post_path(result.id) do %>
                        <%= image_tag result.get_post_image(150,150) %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to post_path(result.id) do %>
                        <%= result.name %></br>
                      <% end %>
                    </td>
                    <td class="d-none d-sm-table-cell">
                      <%= result.introduction %>
                    </td>
                  <% when "タグ" %>
                    <td>
                      <%= link_to post_path(result.id) do %>
                        <%= image_tag result.get_post_image(150,150) %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to post_path(result.id) do %>
                        <%= result.name %></br>
                      <% end %>
                    </td>
                    <td class="d-none d-sm-flex flex-wrap">
                      <% result.tags.each do |tag| %>
                        <%= link_to "##{tag.name}", posts_path(tag: tag.name), class: 'btn btn-outline-primary mx-2 my-1' %>
                      <% end %>
                    </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @results %>
      <% else %>
        <h4>検索結果がありません。</h4>
      <% end %>
    </div>
  </div>
</div>