<div class="container">
  <div class="row">
    <div class="col-7">
      <h2>検索結果</h2>
      <% if @results.present? %>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <% case @range %>
                <% when "ユーザー" %>
                  <th>ユーザー名</th>
                  <th>自己紹介</th>
                <% when "レシピ" %>
                  <th>レシピ画像</th>
                  <th>レシピ名</th>
                <% when "タグ" %>
                  <th>レシピ画像</th>
                  <th>レシピ名</th>
                  <th>登録タグ</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @results.each do |result| %>
              <tr>
                <% case @range %>
                  <% when "ユーザー" %>
                    <td>
                      <%= link_to user_path(result.id) do %>
                        <%= result.name %>
                      <% end %>
                    </td>
                    <td><%= result.introduction %></td>
                  <% when "レシピ" %>
                    <td>
                      <%= link_to post_path(result.id) do %>
                        <%= image_tag result.get_post_image(285,135) %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to post_path(result.id) do %>
                        <%= result.name %></br>
                      <% end %>
                    </td>
                  <% when "タグ" %>
                    <td>
                      <%= link_to post_path(result.id) do %>
                        <%= image_tag result.get_post_image(285,135) %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to post_path(result.id) do %>
                        <%= result.name %></br>
                      <% end %>
                    </td>
                    <td>
                      #<%= result.tag_list %>
                    </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>検索結果がありません。</p>
      <% end %>
    </div>
  </div>
</div>

