<div class="container">
  <div class="row">
    <div class="col-9">
      <h2>検索結果</h2>
      <% if @results.present? %>
        <table class="table table-hover table-inverse">
          <thead class="bg-light">
            <tr>
              <% case @range %>
                <% when "ユーザー" %>
                  <th style="width: 30%;">ユーザー名</th>
                  <th style="width: 70%;">自己紹介</th>
                <% when "レシピ" %>
                  <th style="width: 20%;">レシピ画像</th>
                  <th style="width: 30%;">レシピ名</th>
                  <th style="width: 50%;">説明</th>
                <% when "タグ" %>
                  <th style="width: 20%;">レシピ画像</th>
                  <th style="width: 30%;">レシピ名</th>
                  <th style="width: 50%;">登録タグ</th>
              <% end %>
            </tr>
          </thead>
          <tbody class="tbody">
            <% @results.each do |result| %>
              <tr>
                <% case @range %>
                  <% when "ユーザー" %>
                    <td>
                      <%= link_to user_path(result.id) do %>
                        <%= result.name %>
                      <% end %>
                    </td>
                    <td><%= result.introduction %></td>
                  <% when "レシピ" %>
                    <td>
                      <%= link_to post_path(result.id) do %>
                        <%= image_tag result.get_post_image(285,135) %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to post_path(result.id) do %>
                        <%= result.name %></br>
                      <% end %>
                    </td>
                    <td>
                      <%= result.introduction %>
                    </td>
                  <% when "タグ" %>
                    <td>
                      <%= link_to post_path(result.id) do %>
                        <%= image_tag result.get_post_image(285,135) %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to post_path(result.id) do %>
                        <%= result.name %></br>
                      <% end %>
                    </td>
                    <td class="d-flex flex-wrap">
                      <% result.tags.each do |tag| %>
                        <%= link_to "##{tag.name}", posts_path(tag: tag.name), class: 'btn btn-outline-primary mx-2 my-1' %>
                      <% end %>
                    </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>検索結果がありません。</p>
      <% end %>
    </div>
  </div>
</div>

