<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="5000">
      <%= image_tag 'slide1.jpeg', size: "600x300", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-item" data-interval="5000">
      <%= image_tag 'slide2.jpeg', size: "600x300", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-item" data-interval="5000">
      <%= image_tag 'slide3.jpeg', size: "600x300", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-item" data-interval="5000">
      <%= image_tag 'slide4.jpeg', size: "600x300", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-item" data-interval="5000">
      <%= image_tag 'slide5.jpeg', size: "600x300", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-item" data-interval="5000">
      <%= image_tag 'slide6.jpeg', size: "600x300", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-item" data-interval="5000">
      <%= image_tag 'slide7.jpeg', size: "600x300", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-caption top-bg">
      <p>ようこそ、ながのCAKEへ！<br>このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります。
      </p>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-target="#carouselExampleInterval" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleInterval" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
 