<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="5000">
      <%= image_tag 'slide1.jpeg', size: "600x300", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-item" data-interval="5000">
      <%= image_tag 'slide2.jpeg', size: "600x300", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-item" data-interval="5000">
      <%= image_tag 'slide3.jpeg', size: "600x300", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-item" data-interval="5000">
      <%= image_tag 'slide4.jpeg', size: "600x300", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-item" data-interval="5000">
      <%= image_tag 'slide5.jpeg', size: "600x300", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-item" data-interval="5000">
      <%= image_tag 'slide6.jpeg', size: "600x300", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-item" data-interval="5000">
      <%= image_tag 'slide7.jpeg', size: "600x300", class:"d-block w-100 rounded" %>
    </div>
    <div class="carousel-caption top-bg">
      <p>一人暮らしを始めて自炊に不安、料理に自信がない人へ<br>
      　このサイトでは手軽に作れるお酒のおつまみや<br>ちょっとした一品を紹介<br>
        見た目にはこだわらない、美味しければなんでもOK！<br>そんな人向けのサイトです。
      </p>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-target="#carouselExampleInterval" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleInterval" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
 