<div class="container">
  <div class="row mt-5">
    <h3 class="page-title">通報詳細</h3>
    <table class="table">
      <tbody>
        <tr>
          <td>通報ID</td>
          <td><%= @report.id %></td>
        </tr>
        <tr>
          <td>通報対象</td>
          <td><%= @report.reportable_type %></td>
        </tr>
        <tr>
          <td>理由</td>
          <td><%= @report.reason %></td>
        </tr>
        <tr>
          <td>通報者</td>
          <td><%= @report.reporter.name %></td>
        </tr>
        <tr>
          <td><%= @report.confirmed ? '確認済み' : '確認ステータス' %></td>
          <td>
            <% unless @report.confirmed %>
              <%= link_to '確認済みに更新', confirm_admin_report_path(@report), method: :patch %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <% if @report.reportable_type == '投稿' %>
    <% if @report.reported.present? %>
      <h3><%= link_to "投稿の詳細", post_path(@report.reported) %></h3>
    <% else %>
      <p>報告対象の投稿が存在しません。</p>
    <% end %>
  <% elsif @report.reportable_type == 'コメント' %>
    <% if @report.reported.present? %>
      <h3><%= link_to "コメントの詳細", comment_path(@report.reported) %></h3>
    <% else %>
      <p>報告対象のコメントが存在しません。</p>
    <% end %>
  <% end %>
</div>
