<div class="container">
  <div class="row my-5">
    <h2></h2>
    <div class="col-3">
      <%= image_tag @user.get_profile_image(300, 300), class: "img-fluid" %>
    </div>
    <div class="col-5">
      <%= render 'info', user: @user %>
      <h3><%= link_to "#{@user.name} さんのいいねした投稿一覧", favorited_posts_user_path(@user) %></h3>
    </div>
  </div>
  <div class="row">
    <h3><%= @user.name %>さんの投稿一覧</h3>
    <table class="table">
      <thead>
        <%= render 'public/posts/post_thead' %>
      </thead>
      <tbody>
        <% @user.posts.each do |post| %>
          <%= render partial: 'public/posts/post_tbody', locals: { post: post } %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @posts %>
  </div>
</div>

