<div class="container">
   <%= render 'flash/notice' %>
  <div class="row my-5">
    <div class="col-6">
     <%= render 'info', user: @user %>
    </div>
    <div class="col-5">
      <h3><%= link_to "#{@user.name} さんのいいねした投稿一覧", favorited_posts_user_path(@user) %></h3>
    </div>
  </div>
  <div class="row">
    <h3><%= @user.name %>さんの投稿一覧<i class="fa-regular fa-paper-plane" style="color: #0c0c0e;"></i></h3>
    <table class="table">
      <thead class="bg-light">
        <%= render 'public/posts/post_thead' %>
      </thead>
      <tbody>
        <% @user.posts.each do |post| %>
          <%= render partial: 'public/posts/post_tbody', locals: { post: post } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

