<div class="container">
  <div class="row my-5">
     <h2></h2>
      <div class="col-3">
        <%= image_tag @user.get_profile_image(300, 300) %>
      </div>
      <div class="col-5">
        <%= render 'info', user: @user %>
        <%= link_to 'いいねした投稿一覧', favorited_posts_user_path(@user) %>
      </div>
  </div>
  <div class="row">
    <h3>投稿一覧</h3>
    <table class="table">
        <thead>
          <tr>
           <th style="width: 10%;">画像</th>
           <th style="width: 15%;">レシピ名</th>
           <th style="width: 20%;">一言説明</th>
           <th style="width: 20%;">タグ</th>
           <th style="width: 10%;">いいね数</th>
           <th style="width: 15%;">コメント数</th>
          </tr>
        </thead>
        <tbody>
          <% @user.post.each do |post| %>
          <tr>
           <td>
             <%= link_to post_path(post.id) do %>
               <%= image_tag post.get_post_image(285,135) %>
             <% end %>
           </td>
           <td>
             <%= link_to post_path(post.id) do %>
               <%= post.name %></br>
             <% end %>
           </td>
           <td>
             <%= post.introduction %>
           </td>
           <td class="d-flex">
             <% post.tags.each do |tag| %>
               <%= button_to posts_path(tag: tag.name), method: :get, class: 'btn btn-outline-primary' do %>
                 <%= tag.name %>
               <% end %>
             <% end %>
           </td>
           <td>
             いいね:<%= post.cached_votes_total.to_i %>件
           </td>
           <td>
             コメント件数：<%= post.comments.count %>件
           </td>
          </tr>
        </tbody>
        <% end %>
      </table>
  </div>
</div>
