<!DOCTYPE html>
<html>
  <head>
    <title>SattoMeshi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/60b6d7d28b.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="loading">
      <img class="spinner" src="/assets/35.gif" alt="" />
    </div>
    <%= render 'layouts/header' %>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="text-center my-3">
        <p>Copyright© Satto_Meshi. All Rights Reserved</p>
      </div>
    </footer>
  </body>
</html>
